<header class="navContainer">
    <nav class="navItself">
        <!-- left nav -->
        <div class="topLeftNav">
            <div class="navIcon">
                <a href="#">
                    <img src="#"/>
                </a>
            </div>
        </div>

        <!-- body nav -->
        <div class="navCenter">
            <div class="navGoTo">
                
                <div class="navDropdown">
                    <a href="">Navigate</a>
                    <div class="navDropdownContent">
                        <a href="">Home</a>
                        <a href="#">News</a>
                        <a href="#">Portfolio</a>
                    </div>
                </div>
                
                <div class="navDropdown">
                    <a href="">About</a>
                    <div class="navDropdownContent">
                        <a href="#">I</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                    </div>
                </div>

                <a href="#">Story</a>
                <a href="#">Projects</a>
                <a href="#">Contact</a>
            </div>
        </div>

        <!-- right nav -->
        <div class="navRight">
            <div class="navGoToIcon">
                <div class="Icon">
                    <a href="#">
                        <img src="#"/>
                    </a>
                </div>
            </div>

            <div class="navGoToIcon">
                <div class="Icon">
                    <a href="#">
                        <img src="#"/>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>